.carousel {
  background-color: #000;
}

.carousel-caption h2 {
  color: #fff;
  font-family: "Eczar", serif;
}

.carousel-caption p {
  color: #fff;
  font-size: 1.25em;
  font-family: "Work Sans", sans-serif;
}

.card-sizing {
  display: flex;
  flex-wrap: wrap;
}

.body-sizing {
  flex: 1 1 10rem;
}

.card {
  max-width: 20rem;
  margin: 0 auto;
  transition: 1s;
}
.card-title {
  font-family: "Work Sans", sans-serif;
}
.card-text {
  font-family: "Roboto", sans-serif;
}

footer {
  text-align: center;
}
@media only screen and (max-width: 35rem) {
  .show-text {
    opacity: 0;
  }
}
@media only screen and (min-width: 60rem) {
  .card {
    max-width: 80%;
  }
}
